# Database
DATABASE_URL="postgresql://username:password@localhost:5432/database_name"

# WhatsApp Service
WHATSAPP_SERVICE_URL="http://localhost:3002"

# WhatsApp Lead Creation Control
WHATSAPP_ALLOW_NEW_LEADS=true  # Set to false to block creation of new leads from unknown numbers
WHATSAPP_REQUIRE_WHITELIST=true  # Set to false to disable whitelist checking
WHATSAPP_BLOCK_NEWSLETTERS=true  # Set to false to allow newsletter numbers

# Other environment variables...
